body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

/* LABEL */
form label.required {
	font-weight: bold;
}

form .required-pseudo-label {
	font-weight: bold;    
}

/* usability: right align labels */
.ui-fieldset-content td label {
	display: block;
	text-align: right;
}

.ui-fieldset-content td td label {
	text-align: left;
}

/* usability */
.ui-button {
	margin-right: 0em !important;
}

/* action column in datatable */

.actions-column {
	width: 110px !important;
}

/* error messages */
.ui-error-message {
	display: inline-block;
}

/* aria live region for search results */
#searchResultsRegion {
	margin: 0px 0px 5px 5px;;
	display: inline-block;
}

/* alternate dataTable row color */
.ui-datatable-odd {
	background: none repeat scroll 0 0 #F2F5F9;
}

/* change dataTable row color when mouse goes over it and keep the selected line text black */
.ui-datatable tr.ui-datatable-even:hover, .ui-datatable tr.ui-datatable-odd:hover {
	background: #BDE5F8;
	color: black !important;
}

.ui-datatable .ui-datatable-footer {
	text-align: left !important;
}

/* ICONS for p:commandButon. Note the usage of JSF2 resource facility :-) */
.iconView { 
	background-image: url("#{resource['icons/eye.png']}") !important;
}
.iconEdit { 
	background-image: url("#{resource['icons/pencil.png']}") !important;
}
.iconDelete { 
	background-image: url("#{resource['icons/cross.png']}") !important;
}
.iconSelect { 
	background-image: url("#{resource['icons/accept.png']}") !important;
}
.iconSearch { 
	background-image: url("#{resource['icons/find.png']}") !important;
}
.iconAdd { 
	background-image: url("#{resource['icons/add.png']}") !important;
}

/* p:fieldSet */
.ui-fieldset {
	text-align: left;
 	margin-top:0.2em;
 	margin-bottom:1.2em;
}

/* p:dataTable*/
.ui-datatable .ui-datatable-data td,
.ui-datatable .ui-datatable-data-empty td {
	text-align: center;
}

/* p:layout*/
.ui-layout-north {
	z-index:20 !important;
	overflow:visible !important;;
}

.ui-layout-north .ui-layout-unit-content {
	overflow:visible !important;
}

.ui-layout-south .ui-layout-unit-content {
	text-align: center;
}

.ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd{
	border: none;
}

/* p:panel */
.ui-panel {
	margin-bottom: 0.6em;
}

.ui-panel-content {
	width: 98%; 
	margin:5px auto;
}

/* header */
.userInfo-welcome {
	background: transparent url("#{resource['icons/home.png']}") no-repeat center left;
	padding: 5px 5px 5px 20px;
}
.userInfo-user {
	background: transparent url("#{resource['icons/login.png']}") no-repeat center left;
	padding : 5px 5px 5px 20px;
}
.userInfo-fr {
	background: transparent url("#{resource['icons/fr.gif']}") no-repeat center left;
	padding : 5px 5px 5px 20px;
}
.userInfo-en {
	background: transparent url("#{resource['icons/us.gif']}") no-repeat center left;
	padding : 5px 5px 5px 20px;
}

/* login page */
.loginBox {
	width:500px;
	margin:50px auto;
}

.versionEnv {
	position: fixed;
	top: 0px;
	legt: 0px;
	z-index: 1000;
}