body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	min-width:1200px;	
	background-color : #d0d3dc;
}

/* LABEL */
form label.required {
	font-weight: bold;
}

form .required-pseudo-label {
	font-weight: bold;
}

div .ui-menu.ui-menubar {
	background-color:transparent;
	background: rgb(129,127,126); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(129,127,126,1) 0%, rgba(84,82,80,1) 65%, rgba(84,82,80,1) 100%) ; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(129,127,126,1)), color-stop(65%,rgba(84,82,80,1)), color-stop(100%,rgba(84,82,80,1))) ; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(129,127,126,1) 0%,rgba(84,82,80,1) 65%,rgba(84,82,80,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(129,127,126,1) 0%,rgba(84,82,80,1) 65%,rgba(84,82,80,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(129,127,126,1) 0%,rgba(84,82,80,1) 65%,rgba(84,82,80,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(129,127,126,1) 0%,rgba(84,82,80,1) 65%,rgba(84,82,80,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#817f7e', endColorstr='#545250',GradientType=0 ); /* IE6-9 */
	border:none;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
}

/*only apply to topmenu entries */
li.topmenu>a>.ui-menuitem-text { 
	color:#ffffff ;
}

a .ui-menuitem-text {
	color:#000000;
	font-weight:bold;
	margin-right:5px;
}

.ui-autocomplete-panel {
	max-height: 200px;
}
/* fix menu child width */
.ui-menu .ui-menu-parent .ui-menu-child {
	width:auto !important;
}

/* usability: right align labels */
.ui-fieldset-content td label {
	display: block;
	text-align: right;
}

.ui-fieldset-content td td label {
	text-align: left;
}

/* usability */
.ui-button {
	margin-right: 0em !important;
}

/* action column in datatable */

.actions-column {
	width: 110px !important;
}

/* error messages */
.ui-error-message {
	display: inline-block;
}

/* info message */
div .ui-messages-info {
	background-color: #ddffdd;
	border-color:#aaddaa;
}

div.searchResult {
	background-color:#f5f5f5;
	border:#bbb solid 1px;
	padding:5px;
	margin:10px 0px;
}

/* aria live region for search results */
#searchResultsRegion {
	margin:5px;
	display: inline-block;
	font-weight:bold;
	font-size:110%;
	color:#003b7d;
}

/* alternate dataTable row color */
.ui-datatable-odd {
	background: none repeat scroll 0 0 #F2F5F9;
}

/* change dataTable row color when mouse goes over it and keep the selected line text black */
.ui-datatable tr.ui-datatable-even:hover, .ui-datatable tr.ui-datatable-odd:hover {
	background: #BDE5F8;
	color: black !important;
}

.ui-datatable .ui-datatable-footer {
	text-align: left !important;
}

/* ICONS for p:commandButon. Note the usage of JSF2 resource facility */
.iconView { 
	background-image: url("#{resource['icons/eye.png']}") !important;
}
.iconEdit { 
	background-image: url("#{resource['icons/pencil.png']}") !important;
}
.iconDelete { 
	background-image: url("#{resource['icons/cross.png']}") !important;
}
.iconSelect { 
	background-image: url("#{resource['icons/accept.png']}") !important;
}
.iconSearch { 
	background-image: url("#{resource['icons/find.png']}") !important;
}
.iconAdd { 
	background-image: url("#{resource['icons/add.png']}") !important;
}
.iconPerson { 
	background-image: url("#{resource['icons/person.png']}") !important;
}
.iconExcel { 
	background-image: url("#{resource['icons/excel.png']}") !important;
}
.iconWarning { 
	 background-image: url("#{resource['icons/warning.png']}") !important;
}

/* p:fieldSet */
.ui-fieldset {
	text-align: left;
	margin:10px 0px;
	background-color:#f5f5f5;
}

html body .ui-state-error {
	color:black;
	background: #ffeeee ;
	border: 1px solid #CD0A0A ;
}

/* tabs */

div.ui-layout-unit div.ui-tabs {
	margin-bottom:10px;	
}

div.ui-tabs ul.ui-widget-header.ui-tabs-nav {
	padding: 0px 0px 1px 0px;
}

div.ui-tabs ul.ui-widget-header.ui-tabs-nav li a,
div.ui-tabs ul.ui-widget-header.ui-tabs-nav li.ui-state-active a {
	border:#bbb solid 1px;
	border-bottom:none;
	font-weight:bold;
	color:#003b7d;
	padding:5px 10px;
}

div.ui-tabs div.ui-tabs-panel {
	background-color:#f5f5f5;
	border:#bbb solid 1px;
	border-top:none;
}

/* p:dataTable */
.ui-datatable .ui-datatable-data td,
.ui-datatable .ui-datatable-data-empty td {
	text-align: center;
}

/* right align numbers in p:dataTable, header/footer included */
.ui-datatable .ui-datatable-data td.numeric, .ui-datatable-tablewrapper td.numeric {
	text-align: right;
}

.ui-datatable th.ui-sortable-column div.ui-dt-c {
	padding: 4px 15px;
}
.ui-datatable th.ui-state-default {
	border: 1px solid #b3b3b3;
	color:white;
	background:#777;
	box-shadow: none;
	text-shadow: none;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
}

/* p:layout*/
.ui-layout-north {
	z-index:20 !important;
	overflow:visible !important;
}

.ui-layout-north .ui-layout-unit-content {
	overflow:visible !important;
}

.ui-layout-south .ui-layout-unit-content {
	text-align: center;
}

.ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd {
	border: none;
}

/* p:panel */
.ui-panel {
	margin-bottom: 0.6em;
}

.ui-panel-content {
	width: 98%; 
	margin:5px auto;
}

/* header */
.userInfo {
	float: right;
}
.userInfo-username {
	margin-right: 5px;
}
.userInfo-welcome {
	background: transparent url("#{resource['icons/home.png']}") no-repeat center left;
	padding: 5px 5px 5px 20px;
}
.userInfo-user {
	background: transparent url("#{resource['icons/login.png']}") no-repeat center left;
	padding : 5px 5px 5px 20px;
}
.userInfo-fr {
	background: transparent url("#{resource['icons/fr.gif']}") no-repeat center left;
	padding : 5px 5px 5px 20px;
}
.userInfo-en {
	background: transparent url("#{resource['icons/us.gif']}") no-repeat center left;
	padding : 5px 5px 5px 20px;
}

.message_alert {
	color : red;
	font-weight: bold;
}

/* login page */
.loginBox {
	width:600px;
	margin:50px auto;
}

.environment {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 58px;
	height: 58px; 
	z-index: 1000;
}

.Development {
	background: transparent url("#{resource['icons/environment/development.gif']}") no-repeat center left;
}
.Integration {
	background: transparent url("#{resource['icons/environment/integration.gif']}") no-repeat center left;
}
.Production {
	background: transparent url("#{resource['icons/environment/production.gif']}") no-repeat center left;
}

div.ui-layout-north td {
	vertical-align:top;
}

div.ui-layout-center {
	padding:0px;
	background-color: #d0d3dc;
}

div.ui-layout-center div.ui-layout-unit-content {
	padding-left:15px;
	padding-right:15px;
	background-color: transparent;
}

div.ui-layout-center div.ui-layout-unit-content div.ui-toolbar {
	background-color:#eaeaea;
	background-image:none;
	border: #bbb solid 1px;
}

div.ui-layout-center div.ui-layout-unit-content div.ui-toolbar button.ui-button {
	background: rgb(136,181,202); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(184,212,255,1) 0%,rgba(145,185,201,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(184,212,255,1)), color-stop(100%,rgba(145,185,201,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(184,212,255,1) 0%,rgba(145,185,201,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(184,212,255,1) 0%,rgba(145,185,201,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(184,212,255,1) 0%,rgba(145,185,201,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(184,212,255,1) 0%,rgba(145,185,201,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B8D4FF', endColorstr='#91B9C9',GradientType=0 ); /* IE6-9 */
	border:#eee outset 1px;
	margin:0px 3px;
	/*background:#88b5ca;*/
	font-weight:bold;
}

div.ui-layout-center div.ui-layout-unit-content div.ui-toolbar button.ui-button.ui-state-hover,
div.ui-layout-center div.ui-layout-unit-content div.ui-toolbar button.ui-button:hover {
	background: rgb(255,114,0); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,114,0,1) 0%, rgba(255,151,51,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,114,0,1)), color-stop(100%,rgba(255,151,51,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,114,0,1) 0%,rgba(255,151,51,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,114,0,1) 0%,rgba(255,151,51,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,114,0,1) 0%,rgba(255,151,51,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,114,0,1) 0%,rgba(255,151,51,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7200', endColorstr='#ff9733',GradientType=0 ); /* IE6-9 */
	border:#eee inset 1px;
}

.ui-state-highlight .ui-icon {
	background-image: url("#{resource['primefaces-bootstrap:images/ui-icons_333333_256x240.png']}");
}
