body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

/* LABEL */
form label {
    margin-right: 10px;
}

form label.required {
	font-weight: bold;
}

form .required-pseudo-label {
	font-weight: bold;    
}

/* fix redmond theme */
form .ui-menuitem-link  {
	color: black;
}
.ui-widget-content {
	background: white;
}


/* input when disabled=true */
input.ui-state-disabled {
	color: black !important;
	opacity: 1 !important;
	border-color: white !important;
	box-shadow: none !important;
}


/* error messages */
.ui-error-message {
	display: inline-block;
}

/* ICONS for p:commandButon. Note the usage of JSF2 resource facility :-) */
.iconView { 
	background-image: url("#{resource['icons/eye.png']}") !important;
}
.iconEdit { 
	background-image: url("#{resource['icons/pencil.png']}") !important;
}
.iconDelete { 
	background-image: url("#{resource['icons/cross.png']}") !important;
}
.iconSelect { 
	background-image: url("#{resource['icons/accept.png']}") !important;
}
.iconSearch { 
	background-image: url("#{resource['icons/find.png']}") !important;
}
.iconAdd { 
	background-image: url("#{resource['icons/add.png']}") !important;
}

/* p:commandButton */
.ui-button-icon-only {
	height: 1.6em;
	width: 2.0em;
}

/* p:fieldSet */
.ui-fieldset {
  text-align: left;
  margin-bottom:1.2em;
}

/* p:dataTable*/
.ui-datatable .ui-datatable-data td,
.ui-datatable .ui-datatable-data-empty td {
	text-align: center;
}

/* p:layout*/
.ui-layout-north {
    z-index:20 !important;
    overflow:visible !important;;
}

.ui-layout-north .ui-layout-unit-content {
    overflow:visible !important;
}

.ui-layout-south .ui-layout-unit-content {
    text-align: center;
}

/* p:panel */
.ui-panel {
	margin-bottom: 0.6em;
}

.ui-panel-content {
	width: 98%; 
	margin:5px auto;
}

/* header */
.userInfo-welcome {
	background: transparent url("#{resource['icons/home.png']}") no-repeat center left;
	padding: 5px 5px 5px 20px;
}
.userInfo-user {
	background: transparent url("#{resource['icons/login.png']}") no-repeat center left;
	padding : 5px 5px 5px 20px;
}
.userInfo-fr {
	background: transparent url("#{resource['icons/fr.gif']}") no-repeat center left;
	padding : 5px 5px 5px 20px;
}
.userInfo-en {
	background: transparent url("#{resource['icons/us.gif']}") no-repeat center left;
	padding : 5px 5px 5px 20px;
}


/* login page */
.loginBox {
	width:500px;
	margin:50px auto;
}